*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #f4f4f4;
}
.welcome-teacher{
  display: flex;
  background-color: rgb(219, 224, 225);
  height: 10rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: xx-large;
  font-weight: 500;
}

.teacher-login-container{
  margin-top: 2rem;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher-login-form{
  background-color: white;
  display: flex;
  width: 25%;
  flex-direction: column;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
}
.teacher-login-text{
  background-color: rgb(216, 215, 215);
  padding: 0.6rem 1rem;
  border-bottom: 1px solid rgb(192, 192, 192);
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 1px;
  color: rgb(88, 86, 86);
}
.teacher-input-container{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2rem 1rem 0 1rem;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
}
.teacher-input-container input{
  height: 2rem;
  border: 1px solid rgb(192, 192, 192);
  font-size: 1.1rem;
  padding: 3px 10px;
}
.teacher-login-btn-container{
  margin: 1rem auto 2rem 1rem;
}
.teacher-login-btn{
  padding: 0.4rem 0.8rem;
  /* background-color: mediumseagreen; */
  background-color: #1e9293;    /*report and login color also edit we caan use*/
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
}


.error-message{
  display: none;
  box-sizing: border-box;
  width: 50%;
  margin-left: 25%;
  color:crimson;
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: rgb(255 222 222);
}
.success-message{
  display: none;
  box-sizing: border-box;
  width: 50%;
  margin-left: 25%;
  color:rgb(71, 110, 71);
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: rgb(232 255 222);
}




@media screen and  (min-width:1000px) AND (max-width:1300px) {
  .teacher-login-form{
    width: 35%;
  }
}
@media screen and  (min-width:800px) AND (max-width:1000px) {
  .teacher-login-form{
    width: 45%;
  }
}
@media screen and  (min-width:550px) AND (max-width:800px) {
  .teacher-login-form{
    width: 65%;
  }
}
@media screen and  (min-width:400px) AND (max-width:550px) {
  .teacher-login-form{
    width: 85%;
  }
  .error-message{
    width: 80%;
    margin-left: 10%;
  }
  .success-message{
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width:400px) {
  .teacher-login-form{
    width: 93%;
  }
  .error-message{
    width: 80%;
    margin-left: 10%;
  }
  .success-message{
    width: 80%;
    margin-left: 10%;
  }
}

/* 
@media screen and (max-width:1000px) AND (max-height:750px){
  body{
   background-color: #1e9293;
  }
} */